html, body
{
    margin:0;
    height: 100%;
}
.chat
{
    width: 80%;
    height: 100%;
    float: left;
    background-color:#dfe6e9;
}
.message
{
    overflow-y: scroll;
}
.interface
{
    position:absolute;
    bottom:0;
}
.user
{
    width: 20%;
    height: 100%;
    float: right;
    background-color:#b2bec3;
}